body{
    background-color: darkgray;
}
h1{
    background: linear-gradient(gray, teal);
    text-align: center;
    color: white;
    height: 3em;
    line-height: 3em;
}
#displayBox{
    background-color: lightgray;
    border: 0.3em;
    border-radius: 0.25em;
    border-style: solid;
    border-color: silver;
    margin: 3em;
}
#displayHeader{
    background-color: slategray;
    margin: auto;
}
form{
    text-align: center;
}
label, select{
    font-family: arial;
    margin: auto;
    display: inline-block;
    vertical-align: middle;
}
#material{
}
#height{
    margin: auto;
    vertical-align: middle;
}
#heightNumber {
    display: inline;
}
#displayDisplay{
    background-color: soft;
    margin: auto;
}
#pyramid{
    margin: center;
    padding: 2em;
}
#pyramid > p{
    margin: 10px 50%;
    text-align: right;
    font-family: monospace;
    font-size: 1.2em;
    line-height: 0.5em;
}
#leftRight{
    display: none;
}
.triangleflip{
    display: inline;
}
#lRLabel{
    cursor: pointer;
    position: relative;
}
#leftRight:not(:checked) + #lRLabel{
    width: 0;
    height: 0;
    border-bottom: 50px solid black;
    border-right: 50px solid transparent;
}
#leftRight:checked + #lRLabel{
     width: 0;
    height: 0;
    border-bottom: 50px solid black;
    border-left: 50px solid transparent;
}
